:host {
  position: relative;

  ::ng-deep {
    app-tile.first-click {
      polygon {
        fill: #6dca6d !important;
      }
      text {
        fill: #fff !important;
      }
    }

    .second-click {
      polygon {
        fill: #f75555 !important;
      }
      text {
        fill: #fff !important;
      }
    }
  }
}
