:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      height: 2rem;
    }
  }

  hex-board {
    border: 1px solid #000;

    ::ng-deep hex-board-tile {
      .hex:hover {
        cursor: pointer;

        &::before {
          background: #fff;
        }
      }

      &.first-click .hex::before {
        background: #6dca6d !important;
      }

      &.second-click .hex::before {
        background: #f75555 !important;
      }
    }
  }

  footer {
    flex-grow: 1;
    display: flex;
    align-items: end;
  }
}
