:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      height: 2rem;
    }
  }

  hex-board {
    flex-grow: 1;

    ::ng-deep {
      .first-click {
        polygon {
          fill: #6dca6d !important;
        }
        text {
          fill: #fff !important;
        }
      }

      .second-click {
        polygon {
          fill: #f75555 !important;
        }
        text {
          fill: #fff !important;
        }
      }
    }
  }
}
