<div>
  <div>
    <button (click)="setRadius(radius() - 1)">-</button>
    Radius: {{ radius() }}
    <button (click)="setRadius(radius() + 1)">+</button>
  </div>
  @if(distance()) {
  <p>Distance: {{ distance() }}</p>
  } @else {
  <p>Click two tiles to calculate distance</p>
  }
</div>

<div id="board" #board>
  @for(tile of tiles(); track tile) {
  <app-tile
    [hex]="tile"
    [style.left]="getLeft(tile) + 'px'"
    [style.top]="getTop(tile) + 'px'"
    (clicked)="onCellClick($event)"
    [class.first-click]="equals(tile, firstClick())"
    [class.second-click]="equals(tile, secondClick())"
  ></app-tile>
  }
</div>
