:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      height: 2rem;
    }
  }

  app-grid {
    flex-grow: 1;
  }
}
