:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > :first-child {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
